<div class="banking-overview">
    <div>
        <mat-card>
            <mat-card-content>
                <template-chart></template-chart>
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-content>
                <app-banking-monthly></app-banking-monthly>
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-content>
                <app-banking-stats></app-banking-stats>
            </mat-card-content>
        </mat-card>
    </div>
</div>