table {
    width: 100%;
}

td, th {
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.6);
}

.noDataRow {
    text-align: center;
    height: 50px;
}

mat-card {
    margin: 3px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
}

mat-card-content {
    padding: 0 !important;
}